
//
// Foundation Global Variables
//

// This is the default html and body font-size for the base em value.
// $em-base ?= 16px;

// We use these to control various global styles
// $body-bg ?= #fff;
// $body-font-color ?= #222;
// $body-font-family ?= "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
// $body-font-weight ?= normal;
// $body-font-style ?= normal;

// We use this to control font-smoothing
// $font-smoothing ?= antialiased;

// We use these to control text direction settings
// $text-direction ?= ltr;

// We use these as default colors throughout
// $primary-color ?= #2ba6cb;
// $secondary-color ?= #e9e9e9;
// $alert-color ?= #c60f13;
// $success-color ?= #5da423;

// We use these to make sure border radius matches unless we want it different.
// $global-radius ?= 3px;
// $global-rounded ?= 1000px;

// We use these to control inset shadow shiny edges and depressions.
// $shiny-edge-size ?= 0 1px 0;
// $shiny-edge-color ?= rgba(#fff, .5);
// $shiny-edge-active-color ?= rgba(#000, .2);

// We use this to control whether or not CSS classes come through in the gem files.
// $include-html-classes ?= true;
// $include-print-styles ?= true;

// $small-screen-size ?= 768px;
// $medium-screen-size ?= 1280px;
// $large-screen-size ?= 1440px;
